body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #282c34;
  color: white;
}


#nav{
  bottom:2%;
  margin: auto;
  position: absolute;
  left: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
}

#nav a {
  color: white;
}

#nav a:hover {
  color: #535c6d;
}

h1{
  text-align:center;
}