body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #282c34;
  color: white;
}


#nav{
  bottom:2%;
  margin: auto;
  position: absolute;
  left: 0px;
  height: 40px;
  width: 100%;
  text-align: center;
}

#nav a {
  color: white;
}

#nav a:hover {
  color: #535c6d;
}

h1{
  text-align:center;
}

/* Currently used for "FoodSearch" styling */
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.search {
position: absolute;
}

.search input {
width: 300px;
height: 25px;
}

button.FoodSearchButton{
margin-left: 10px;
margin-top: 35px;
position: absolute;
}

.foodSearch {
border-radius: 25px;
border: 2px solid #ffffff;
padding: 20px;
}